body {
    background-color: aqua;
}

.list, form {
    background-color: #C70A80;
    width: 50vw;
    display: block;
    margin: auto;
    margin-top: 5vh;
    padding: 2vh 2vw;
    border-radius: 8px;
}
.list h2, form h2 {
    color: #FFCC8F;
}
.list input {
    display: block;
    margin: auto;
}

.list-item {
    background-color: #590696;
    padding: 1vh 1vw;
    margin: 1vh 1vw;
    border-radius: 8px;
    color: white;
    align-items: center;
}

.list-item img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.list-item .details {
    padding: 0 10vw;
}

/* Add Birthday */
form {
    padding: 5vh 10vw;
}
input {
    background-color: inherit;
    border: 0;
    border-bottom: 1px solid black;
    width: 30vw;
    color: white;
    padding-left: 0;
}
input::placeholder {
    color: white;
}
input:focus {
    outline: none !important;
}